<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>My Profile</h1>
		<hr>
		{{#if hasMsg}}
			<div class="alert alert-{{msgType}}">
			{{#each messages}}
				<p>{{this}}</p>
			{{/each}}
			</div>
		{{/if}}
		<form class="form-horizontal" ref='uploadForm' action="/user/profile" method="post" encType="multipart/form-data">
		  <div class="form-group">
		    <label for="name" class="col-sm-2 control-label">Name</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="name" name="name" placeholder="Name">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="email" class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="email" placeholder="Email">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="password" class="col-sm-2 control-label">Password</label>
		    <div class="col-sm-10">
		      <input type="password" class="form-control" id="password" placeholder="Password">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="address" class="col-sm-2 control-label">Address</label>
		    <div class="col-sm-10">
		      <textarea class="form-control" name="address" id="address" placeholder="Type your address here" rows="3"></textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="file" class="col-sm-2 control-label">File input</label>
		    <div class="col-sm-10">
		    	<input type="file" id="file" name="file">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-primary">Update</button>
		    </div>
		  </div>
		  <input type="hidden" name="_csrf" value="{{csrfToken}}">
		</form>
	</div>
</div>