<div class="row">
	<div class="col-md-4 col-md-offset-4">
	<h1>Sign In</h1>
	{{#if hasError}}
		<div class="alert alert-danger">
		{{#each messages}}
			<p>{{this}}</p>
		{{/each}}
		</div>
	{{/if}}
	<form action="/user/signin" method="post">
		<div class="form-group">
			<label for="email">E-mail</label>
			<input type="text" id="email" name="email" class="form-control">
		</div>
		<div class="form-group">
			<label for="password">E-mail</label>
			<input type="password" id="password" name="password" class="form-control">
		</div>
		<input type="hidden" name="_csrf" value="{{csrfToken}}">
		<button type="submit" class="btn btn-primary">Sign In</button>
	</form>
	<p>Don't have account ? <a href="/user/signup">Sign up instead!</a></p>
	</div>
</div>